<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>
    <h1>Sistema de administración de personas (SAP)</h1> 
    <div>
        Número de personas: {{numero_personas}}         
    </div>
    <div>
        <a href="nueva_persona"> Formulario para agregar una nueva persona</a>
    </div>
    <div>     
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                    <th></th>                    
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{persona.id}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.email}}</td>
                    <td>
                        <a href="detalle_persona/{{persona.id}}">Ver</a>
                    </td>
                    <td>
                        <a href="editar_persona/{{persona.id}}">Editar</a>
                    </td>
                    <td>
                        <a href="eliminar_persona/{{persona.id}}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>